@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.th-text {
  font-family: 'Kanit', sans-serif;
}

.q-navbar {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 10px #666666;
          box-shadow: 0 1px 10px #666666;
  z-index: 10;
}

.q-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 100px;
}

@media (max-width: 840px) {
  .q-navbar ul {
    padding: 15px 10px;
  }
}

.q-navbar li {
  display: inline;
}

.q-navbar li a {
  text-decoration: none;
  color: #343434;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.q-navbar li a:hover {
  color: #00acac;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.q-header {
  width: 100%;
  height: 50%;
}

.q-header img {
  max-width: 100%;
  height: auto;
}

.q-header .q-header-overlay {
  position: absolute;
  width: 100%;
  font-size: 3em;
  top: 25%;
  z-index: 12;
  text-align: center;
  text-shadow: 0 0 10px #343434;
}

@media (max-width: 840px) {
  .q-header .q-header-overlay {
    font-size: 2em;
  }
}

.q-grid-header {
  background-color: #aaaaaa;
  position: relative;
  width: 100%;
  height: 50%;
  z-index: 0;
}

.q-grid-header .q-grid-list {
  display: -ms-grid;
  display: grid;
  height: 50vh;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 840px) {
  .q-grid-header .q-grid-list {
    -ms-grid-columns: 33.33333% 33.33333% 33.33333%;
        grid-template-columns: 33.33333% 33.33333% 33.33333%;
  }
}

.q-grid-header .q-grid-list .q-first {
  background: -webkit-gradient(linear, left top, left bottom, from(#343434aa), to(#343434aa)), url("../exam.jpg") center;
  background: linear-gradient(#343434aa, #343434aa), url("../exam.jpg") center;
  z-index: 1;
  width: 100%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media (max-width: 840px) {
  .q-grid-header .q-grid-list .q-first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    rid-row: 1;
  }
}

.q-grid-header .q-grid-list .q-first:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.q-grid-header .q-grid-list .q-first:hover .textbox {
  font-size: 2.5em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.q-grid-header .q-grid-list .q-second {
  background: -webkit-gradient(linear, left top, left bottom, from(#343434aa), to(#343434aa)), url("../book.jpg") center no-repeat;
  background: linear-gradient(#343434aa, #343434aa), url("../book.jpg") center no-repeat;
  background-size: 100% 100%;
  border-left: 1px solid #343434;
  z-index: 1;
  width: 100%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.q-grid-header .q-grid-list .q-second:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.q-grid-header .q-grid-list .q-second:hover .textbox {
  font-size: 2.5em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media (max-width: 840px) {
  .q-grid-header .q-grid-list .q-second:hover .textbox {
    font-size: 2em;
  }
}

.q-grid-header .q-grid-list .q-three {
  background: -webkit-gradient(linear, left top, left bottom, from(#343434aa), to(#343434aa)), url("../history.jpg") center no-repeat;
  background: linear-gradient(#343434aa, #343434aa), url("../history.jpg") center no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  width: 100%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  border-left: 1px solid #343434;
}

.q-grid-header .q-grid-list .q-three:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.q-grid-header .q-grid-list .q-three:hover .textbox {
  font-size: 2.5em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media (max-width: 840px) {
  .q-grid-header .q-grid-list .q-three:hover .textbox {
    font-size: 2em;
  }
}

.q-grid-header .q-grid-list .q-first .h, .q-grid-header .q-grid-list .q-second .h, .q-grid-header .q-grid-list .q-three .h {
  width: 50% !important;
  bottom: 10% !important;
}

.q-grid-header .q-grid-list .q-first .textbox, .q-grid-header .q-grid-list .q-second .textbox, .q-grid-header .q-grid-list .q-three .textbox {
  position: absolute;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  width: 100%;
  bottom: 60%;
  font-size: 1.5em;
  text-align: center;
}

@media (min-width: 840px) {
  .q-grid-header .q-grid-list .q-first .textbox, .q-grid-header .q-grid-list .q-second .textbox, .q-grid-header .q-grid-list .q-three .textbox {
    width: 33.33333% !important;
    bottom: 25% !important;
    font-size: 2em;
  }
}
/*# sourceMappingURL=quizonline.css.map */